@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-shadow: none;
    font-family: "Inter";
}

/* MOBILE: redonda */
.profile-img {
  border-radius: 50%;
  display: block;
}

/* DESKTOP: quadrada com cantos arredondados */
@media (min-width: 768px) {
  .profile-img {
    border-radius: 0.5rem; /* equivalente ao .rounded-lg */
  }
}